
<div class="container mycontainer">
  <h2>Angular 14 Export to Pdf</h2>
  <p></p>  
  <a (click)="exportexpdf()" class="btn btn-primary">
     Download Pdf
  </a>
  <p></p>    
  <table class="table table-hover" id="pdf-table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Gender</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>Male</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>Female</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>Male</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>